.tutor-popup
  .tutor-text
    %a.popup-close(href="#" )close
      %img(src="#{$this->assetsPath}/img/close-button.png" )
    %h1 Please fill in your request form
    .registration-form-popup
      :php
        $form = $this->beginWidget('CActiveForm',array(
          'id'=>'applicant-form',
          'enableClientValidation'=>true,
          'enableAjaxValidation'=>true,
          'action'=>$this->createUrl('site/jobs'),
          'htmlOptions'=>array(
              'class'=>'forms',
          ),
        ));
      %div.input-row
        %label(class="label-name")Teacher's name
        %div.input_block.cl
          %label(class="label-name")
            %span = $tutorStudent->tutors->name
      %div.input-row
        %label(class="label-name-select") Desired time
          %span*
        %div.select-desired-time
          =$form->dropDownList($tutorStudent, 'tutors_days_times_id', CHtml::listData($tutorStudent->tutors->tutorsDaysTimes, 'id', function($dayTime){ return $dayTime;}), ['class' => 'select-date-time']);
          -#%select(class="select-date-time" name="Date & time" )
          -#  %option Date & time
          -#  %option Mondays 11AM-4PM
          -#  %option Tuesdays 10AM-4PM
          -#  %option Thursdays 10AM-4PM
          -#  %option Saturdays 11AM-3PM
      %div.input-row
        %label(class="label-name-select") Alternative time
        %div.input_block.cl
          %div.error-message
          =$form->textField($tutorStudent,'alternative_time', ['class' => 'text_input'])
      %div.input-roww
        %label(class="label-name")Other requests
        %div.input_block.cl
          %div.error-message
          =$form->textArea($tutorStudent,'other_requests', ['class' => 'textarea-input'])
      %h2 Your personal information
      %div.input-row
        %label(class="label-name")First Name
          %span*
        %div.input_block.cl
          %div.error-message
          =$form->textField($tutorStudent,'first_name', ['class' => 'text_input'])
      %div.input-row
        %label(class="label-name")Second Name
          %span*
        %div.input_block.cl
          %div.error-message
          =$form->textField($tutorStudent,'second_name', ['class' => 'text_input'])
      %div.input-row
        %label(class="label-name")Phone number
          %span*
        %div.input_block.cl
          %div.error-message
          =$form->textField($tutorStudent,'phone', ['class' => 'text_input'])
      %div.input-row
        %label(class="label-name")E-mail
          %span*
        %div.input_block.cl
          %div.error-message
          =$form->textField($tutorStudent,'email', ['class' => 'text_input'])
      %div
        %input(type="submit" class="btn registration-button-knoll" value="send" )
      -$this->endWidget();