.tutor-popup
  .tutor-text
    %a.popup-close(href="#" )close
      %img(src="#{$this->assetsPath}/img/close-button.png" )
    %div.thank-text
      %h1 Thank you for request!
      %p Your submission has been recieved.
        %br
          Please wait for us to confirm your request.
      %a.thank-close(href="#" )close
    %div.thank-img
      %img(src="#{$this->assetsPath}/img/thank_clock.png" )