%section
  .wrapper-page
    .your-courses
      .your-courses-data
        %h3#{$orderDescription}
        %p Preferred week:
          %span August 25-29
        %p Entering Grade:
          %span#{$grade}
        %p Price:
          %span#{"$ $price"}
      #{"<script $payPalData></script>"}
    .clear