%div.wide.form

:php
  $form = $this->beginWidget('bootstrap.widgets.TbActiveForm', [
    'action' => Yii::app()->createUrl($this->route),
    'method' => 'get',
  ]);

%div(class="row")
.search_filters
  .filter_name seminar filter:
  .filter_content(data-input-name="filter_seminar")
    =$form->dropDownList($model, 'filter_seminar', CHtml::listData(Seminar::model()->findAllByAttributes(['type' => 'summer']), 'id', 'title'), ['empty'=>'']);
  .filter_name grade filter:
  .filter_content(data-input-name="filter_grade")
    =$form->dropDownList($model, 'filter_grade', CHtml::listData(Grade::model()->findAll(), 'id', 'title'), ['empty'=>'']);
  .filter_name time filter:
  .filter_content(data-input-name="filter_timeSlot")
    .time_select_block
      .timeRow
        %label Start Time
        .jqxWidget(name = "EnrollFormSummer[filter_timeSlot][start_time]" value="")
        %label End Time
        .jqxWidget(name = "EnrollFormSummer[filter_timeSlot][end_time]" value="")
  .filter_name date filter:
  .filter_content(data-input-name="filter_datePeriod")
    .date_period_block
      .datePeriodRow
        %label Start Date
        .jqxWidget.date(name = "EnrollFormSummer[filter_datePeriod][start_date]" value="")
        %label End Date
        .jqxWidget.date(name = "EnrollFormSummer[filter_datePeriod][end_date]" value="")
  %div.row.buttons
  = CHtml::submitButton('Search');

- $this->endWidget();