%h2 Oak Knoll
:php
  $enrollKnoll = new EnrollFormKnoll();
 
  $this->widget('bootstrap.widgets.TbExtendedGridView', [
    'type'         => 'striped bordered condensed',
    'htmlOptions'  => ['class' => 'studentManagement'],
    'dataProvider' => $enrollKnoll->selectAll(),
    'columns'=> [
      [
        'header' => 'Student name',
        'name'   => 'student_name',
        'value'  => '$data->student_name',
      ] ,
      [
        'header' => 'Grade',
        'name'   => 'grade',
        'value'  => '$data->grade',
      ] ,
      [
        'header' => 'Parent name',
        'name'   => 'parent_name',
        'value'  => '$data->parent_name',
      ] ,
      [
        'header' => 'Address',
        'name'   => 'address',
        'value'  => '$data->address',
      ] ,
      [
        'header' => 'Parent email',
        'name'   => 'parent_email',
        'value'  => '$data->parent_email',
      ] ,
      [
        'header' => 'Parent phone',
        'name'   => 'parent_phone',
        'value'  => '$data->parent_phone',
      ] ,
      [
        'header' => 'Food alergies',
        'name'   => 'food_alergies',
        'value'  => '$data->food_alergies',
      ] ,
      [
        'header' => 'Payment',
        'name'   => 'food_alergies',
        'value'  => '$data->order->payment_status',
      ] ,
 
    ]
  ]);

%h2 Hillview
:php
  $enrollHillview = new EnrollFormHillview();
 
  $this->widget('bootstrap.widgets.TbExtendedGridView', [
    'type'         => 'striped bordered condensed',
    'htmlOptions'  => ['class' => 'studentManagement'],
    'dataProvider' => $enrollHillview->selectAll(),
    'columns'=> [
      [
        'header' => 'Student name',
        'name'   => 'student_name',
        'value'  => '$data->student_name',
      ] ,
      [
        'header' => 'Grade',
        'name'   => 'grade',
        'value'  => '$data->grade',
      ] ,
      [
        'header' => 'Class day',
        'name'   => 'class_day',
        'value'  => '$data->class_day',
      ] ,
      [
        'header' => 'Parent name',
        'name'   => 'parent_name',
        'value'  => '$data->parent_name',
      ] ,
      [
        'header' => 'Address',
        'name'   => 'address',
        'value'  => '$data->address',
      ] ,
      [
        'header' => 'Parent email',
        'name'   => 'parent_email',
        'value'  => '$data->parent_email',
      ] ,
      [
        'header' => 'Parent phone',
        'name'   => 'parent_phone',
        'value'  => '$data->parent_phone',
      ] ,
      [
        'header' => 'Food alergies',
        'name'   => 'food_alergies',
        'value'  => '$data->food_alergies',
      ] ,
      [
        'header' => 'Payment',
        'name'   => 'food_alergies',
        'value'  => '$data->order->payment_status',
      ] ,
 
    ]
  ]);
