= CHtml::link('View requests for Creative Writing at Oak Knoll', $this->createUrl('/admin/index/oakknoll'), ['class' => 'big-font-size']);
%br
%br
= CHtml::link('View requests for Writing Workouts at Hillview', $this->createUrl('/admin/index/hillview'), ['class' => 'big-font-size']);
%br
%br
= CHtml::link('View requests for Summer seminars', $this->createUrl('/admin/index/summer'), ['class' => 'big-font-size']);