%h2 Oak Knoll
%a(href="/admin/EnrollFormKnoll/create")
  %h3 + Add new
:php
  $this->widget('bootstrap.widgets.TbExtendedGridView', [
    'type'         => 'striped bordered condensed',
    'htmlOptions'  => ['class' => 'studentManagement'],
    'dataProvider' => $enrollKnoll->search(),

    'filter'       => $enrollKnoll,
    'columns'=> [
      [
        'header' => 'Student name',
        'name'   => 'student_name',
        'value'  => '$data->student_name',
      ] ,
      [
        'header' => 'Grade',
        'name'   => 'grade',
        'value'  => '$data->grade',
      ] ,
      [
        'header' => 'Parent name',
        'name'   => 'parent_name',
        'value'  => '$data->parent_name',
      ] ,
      [
        'header' => 'Address',
        'name'   => 'address',
        'value'  => '$data->address',
      ] ,
      [
        'header' => 'Parent email',
        'name'   => 'parent_email',
        'value'  => '$data->parent_email',
      ] ,
      [
        'header' => 'Parent phone',
        'name'   => 'parent_phone',
        'value'  => '$data->parent_phone',
      ] ,
      [
        'header' => 'Food alergies',
        'name'   => 'food_alergies',
        'value'  => '$data->food_alergies',
      ] ,
      [
        'header' => 'Additional comments',
        'name'   => 'additional_comments',
        'value'  => '$data->additional_comments',
      ] ,
      [
        'header' => 'Payment',
        'name'   => 'payment_status',
        'value'  => '$data->order->payment_status',
        'filter' => ['pending'=>'pending', 'completed'=>'completed', 'canceled'=>'canceled', 'failed'=>'failed' ]
      ] ,
      [
        'class'       => 'bootstrap.widgets.TbButtonColumn',
        'template'    => '{update}{delete}',
        'buttons'     => [
          'update'=> [
            'label'=>'Update',       
            'url'  =>'Yii::app()->controller->createUrl("/admin/enrollFormKnoll/update/id/" . $data->enroll_form_id)'
          ],
          'delete'=> [
            'label'=>'Delete',       
            'url'  =>'Yii::app()->controller->createUrl("/admin/enrollFormKnoll/delete/id/" . $data->enroll_form_id)'
          ],
        ],
      ],
 
    ]
  ]);

%h2 Hillview
:php
  $this->widget('bootstrap.widgets.TbExtendedGridView', [
    'type'         => 'striped bordered condensed',
    'htmlOptions'  => ['class' => 'studentManagement'],
    'dataProvider' => $enrollHillview->selectAll(),
    'columns'=> [
      [
        'header' => 'Student name',
        'name'   => 'student_name',
        'value'  => '$data->student_name',
      ] ,
      [
        'header' => 'Grade',
        'name'   => 'grade',
        'value'  => '$data->grade',
      ] ,
      [
        'header' => 'Class day',
        'name'   => 'class_day',
        'value'  => '$data->class_day',
      ] ,
      [
        'header' => 'Parent name',
        'name'   => 'parent_name',
        'value'  => '$data->parent_name',
      ] ,
      [
        'header' => 'Address',
        'name'   => 'address',
        'value'  => '$data->address',
      ] ,
      [
        'header' => 'Parent email',
        'name'   => 'parent_email',
        'value'  => '$data->parent_email',
      ] ,
      [
        'header' => 'Parent phone',
        'name'   => 'parent_phone',
        'value'  => '$data->parent_phone',
      ] ,
      [
        'header' => 'Food alergies',
        'name'   => 'food_alergies',
        'value'  => '$data->food_alergies',
      ] ,
      [
        'header' => 'Payment',
        'name'   => 'food_alergies',
        'value'  => '$data->order->payment_status',
      ] ,
 
    ]
  ]);



%h2 Summer seminars
:php
  $this->widget('bootstrap.widgets.TbExtendedGridView', [
    'type'         => 'striped bordered condensed',
    'htmlOptions'  => ['class' => 'studentManagement'],
    'dataProvider' => $enrollSummer->selectAll(),
    'columns'=> [
      [
        'header' => 'Student name',
        'name'   => 'student_name',
        'value'  => '$data->student_name',
      ] ,
      [
        'header' => 'Gender',
        'name'   => 'gender',
        'value'  => '$data->gender',
      ] ,
      [
        'header' => 'Current school',
        'name'   => 'current_school',
        'value'  => '$data->current_school',
      ] ,
      [
        'header' => 'Student address',
        'name'   => 'student_address',
        'value'  => '$data->student_address',
      ] ,
      [
        'header' => 'Student home phone',
        'name'   => 'student_home_phone',
        'value'  => '$data->student_home_phone',
      ] ,
      [
        'header' => 'Student cell phone',
        'name'   => 'student_cell_phone',
        'value'  => '$data->student_cell_phone',
      ] ,
      [
        'header' => 'Student email',
        'name'   => 'student_email',
        'value'  => '$data->student_email',
      ] ,
      [
        'header' => 'First parent name',
        'name'   => 'parent_name_1',
        'value'  => '$data->parent_name_1',
      ] ,
      [
        'header' => 'First parent email',
        'name'   => 'parent_email_1',
        'value'  => '$data->parent_email_1',
      ] ,
      [
        'header' => 'Second parent name',
        'name'   => 'parent_name_2',
        'value'  => '$data->parent_name_2',
      ] ,
      [
        'header' => 'Second parent email',
        'name'   => 'parent_email_2',
        'value'  => '$data->parent_email_2',
      ] ,
      [
        'header' => 'Parent name emergency',
        'name'   => 'parent_name_emergency',
        'value'  => '$data->parent_name_emergency',
      ] ,
      [
        'header' => 'Parent phone emergency',
        'name'   => 'parent_phone_emergency',
        'value'  => '$data->parent_phone_emergency',
      ] ,
      [
        'header' => 'Parent cell emergency',
        'name'   => 'parent_cell_emergency',
        'value'  => '$data->parent_cell_emergency',
      ] ,
      [
        'header' => 'Person name emergency',
        'name'   => 'person_name_emergency',
        'value'  => '$data->person_name_emergency',
      ] ,
      [
        'header' => 'Person cell emergency',
        'name'   => 'person_cell_emergency',
        'value'  => '$data->person_cell_emergency',
      ] ,
      [
        'header' => 'Person phone emergency',
        'name'   => 'person_phone_emergency',
        'value'  => '$data->person_phone_emergency',
      ] ,
      [
        'header' => 'Person relation to student',
        'name'   => 'person_relation_to_student',
        'value'  => '$data->person_relation_to_student',
      ] ,
      [
        'header' => 'Physician name',
        'name'   => 'physician_name',
        'value'  => '$data->physician_name',
      ] ,
      [
        'header' => 'Physician phone',
        'name'   => 'physician_phone',
        'value'  => '$data->physician_phone',
      ] ,
      [
        'header' => 'Dentist name',
        'name'   => 'dentist_name',
        'value'  => '$data->dentist_name',
      ] ,
      [
        'header' => 'Dentist_phone',
        'name'   => 'dentist_phone',
        'value'  => '$data->dentist_phone',
      ] ,
      [
        'header' => 'Food alergies',
        'name'   => 'food_alergies',
        'value'  => '$data->food_alergies',
      ] ,
      [
        'header' => 'Medication alergies',
        'name'   => 'medication_alergies',
        'value'  => '$data->medication_alergies',
      ] ,
      [
        'header' => 'Medication currently taken',
        'name'   => 'medication_currently_taken',
        'value'  => '$data->medication_currently_taken',
      ] ,
      [
        'header' => 'Last tetanus shot',
        'name'   => 'last_tetanus_shot',
        'value'  => '$data->last_tetanus_shot',
      ] ,
      [
        'header' => 'Submit date',
        'name'   => 'submit_date',
        'value'  => '$data->submit_date',
      ] ,
      [
        'header' => 'Payment',
        'name'   => 'food_alergies',
        'value'  => '$data->order->payment_status',
      ] ,
    ]
  ]);