%section

  .wrapper-page
    .analysis
      %img(src="#{$this->assetsPath}/img/Crafting the personal  essay statement.jpg" )
      .analysis-text
        %h1 Crafting the personal essay statement
        %ul.analysis-list
          %li
            %b Grades:
            %p text
            %p text
          %li
            %b Class Size:
          %li
            %b Times:
          %li
            %b Duration:
        %ul.analysis-list-2
          %li Level I Entering 4th-5th,
            %br Level II Entering 6-8th,
            %br Level III 9th -12th
          %li 4-12 students
          %li M-F 2.5 hrs
          %li one week

    .clear

    .courses

      .course-description
        %h2 Course description
        %p The personal essay statement is unavoidable if you plan to apply to college, private high school or private middle school. Summer is a great time to get started. Never fear –you need not live a life of epic adventure to write an essay that brings beauty and insight to your Audience. To transform the mundane details of your life into art, you need to understand and apply the story structure of the Hero’s Journey along with good writing techniques. Writing will be done in class, but students are strongly encouraged to write outside of class.

      .course-features
        %h3 Seminar Syllabus
        %ul.days
          %li
            %span
              %b Day 1:
              Brainstorming Ideas: What Compels You?
          %li
            %span
              %b Day 2:
              Writing the 1st Draft: VASE (Voice, Audience, Structure, Editing).
          %li
            %span
              %b Day 3:
              Writing the 2nd Draft: The Hero’s Journey.
          %li
            %span
              %b Day 4:
              Writing the 3rd Draft: Specific Writing and Editing Techniques.
          %li
            %span
              %b Day 5:
              Before and After: Critique.

      .enroll-course
        %h4 Enroll course
        .begins-text
          %h5 Begins:
            %span 1 June
            %br Fee per
              %br weekly session:
                %br
                  %span $275
        %img(src="#{$this->assetsPath}/img/enroll_picture.png" )
        .enroll-border
          %p Spots available:
            %span 12
        %a.enroll-button(href="#{$this->createUrl('site/Classes#calendar')}") Pick a time

      .clear

      .other-summer-classes
        %h2 Other summer classes:
        .borders
          %a.intro-button(href="#") Intro to Literary Analysis
          %a.crafting-button(href="#") Crafting The Personal Essay Statement
          %a.myth-button(href="#") Of Myth and Monsters
          .clear
          %a.going-button(href="#") Going to the dogs
          %a.make-button(href="#") Make ’Em Laugh
          %a.power-button(href="#") The Power of Story

      .not-sure
        .not-sure-inner
          %img(src="#{$this->assetsPath}/img/question_sign.png" )
            %p Not sure what class is right for you? We can help!
              %br Call us right away for a free consultation:
                %span 650-322-2671