//Header Classes Pages
%header#header-bg
  .header
    .logo
      %img(src="#{$this->assetsPath}/img/omega_logo.png" )
    .phone
      %img(src="#{$this->assetsPath}/img/icon_phone.png" )
      %h1 650-322-2671
    .logins
      %p Log in
      %a.login-button(href="#") Sign up
  .nav
    %ul.header-menu
      %li
        %a(href="#") Home
      %li
        %a(href="#") Tutors
      %li
        %a(href="#") Classes
      %li
        %a(href="#") Jobs
      %li
        %a(href="#") Blog
      %li
        %a(href="#") Store
    %form
      %input.search.rounded(placeholder="Search" type="text")

  .clear

%section
  .jobs-content
    %h1 Opportunities
    .opportunities
      %h1 Omega is always looking for
        %span qualified teachers
        to add to our staff. If you meet the following requirements and want to work in a fun, fast-paced environment with flexible schedules, we would love to hear from you.
      .opportunities-borders
        %h1 Requirements
        %ul.opportunities-list
          %li
            %span Bachelor's degree from one of the top 10 universities
          %li
            %span Major course of study in Computers, Engineering, Math, or Science is preferred
          %li
            %span Previous teaching or tutoring experience with middle school or high school students
          %li
            %span Exceptional written and verbal communication skills
          %li
            %span Curriculum development experience is a plus
          %li
            %span Natural ability to explain concepts and motivate students
          %li
            %span Availability to work either afternoons, evenings, or weekends
          %li
            %span Outgoing, enthusiastic, well spoken, responsible and friendly personality is a must
    .form-bellow
      %img(src="#{$this->assetsPath}/img/photo_teacher_1.png" )
      %h1 If you are interested in a position, please fill the form bellow:




  .clear