%section
  .wrapper-page
    .wrapper-job-page
      %h1 Opportunities
      .opportunities
        %h2 Omega is always looking for
          %span qualified teachers
          to add to our staff. If you meet the following requirements and want to work in a fun, fast-paced environment with flexible schedules, we would love to hear from you.
        .opportunities-borders
          %h3 Requirements
          %ul.opportunities-list

            %li
              %span Bachelor's degree from one of the top 10 universities
            %li
              %span Major course of study in Computers, Engineering, Math, or Science is preferred
            %li
              %span Previous teaching or tutoring experience with middle school or high school students
            %li
              %span Exceptional written and verbal communication skills
            %li
              %span Curriculum development experience is a plus
            %li
              %span Natural ability to explain concepts and motivate students
            %li
              %span Availability to work either afternoons, evenings, or weekends
            %li
              %span Outgoing, enthusiastic, well spoken, responsible and friendly personality is a must
      .form-bellow
        %img(src="#{$this->assetsPath}/img/photo_teacher_1.png" )
        .form-bellow-borders
          %h2 If you are interested in a position, please fill the form bellow:
          :php
            $form = $this->beginWidget('CActiveForm',array(
              'id'=>'applicant-form',
              'enableClientValidation'=>true,
              'enableAjaxValidation'=>true,
              'action'=>$this->createUrl('site/jobs'),
              'htmlOptions'=>array(
                  'class'=>'forms',
              ),
            ));
          %label.form-caption
            =$form->labelEx($model,'name')
          %div
            =$form->textField($model,'name', ['class' => 'text', 'placeholder' => 'enter your name'])
            =$form->error($model,'name');
          %label.form-caption
            =$form->labelEx($model,'email')
          %div
            =$form->textField($model,'email', ['class' => 'text', 'placeholder' => 'mylogin@gmail.com'])
            =$form->error($model,'email')
          %label.form-caption
            =$form->labelEx($model,'phone')
          %div
            =$form->textField($model,'phone', ['class' => 'text', 'placeholder' => 'enter your phone'])
            =$form->error($model,'phone')
          =$form->hiddenField($model,'cv', ['class' => 'cv_file_name'])
          :php
            $this->widget('ext.EAjaxUpload.EAjaxUpload',
              array(
                'id'=>'uploadFile',
                'config'=>array(
                  'action'=>'/site/uploadCV',
                  'allowedExtensions'=>array("doc", "docx", "pdf", "rtf", "odt"),
                  'sizeLimit'=>20*1024*1024,
                  'minSizeLimit'=>1*1024,
                  'multiple' => false,
                  'template'=>'<div class="qq-uploader">
                                  <div class="qq-upload-drop-area">
                                    <span></span>
                                  </div>
                                  <div class="qq-default-box-text">Drag and drop your resume here or
                                    <div class="qq-upload-button">click to attach</div>
                                  </div>
                                  <ul class="qq-upload-list"></ul>
                                </div>',
                  'onSubmit' => "js:function(){
                    $('#uploadFile .qq-default-box-text').hide();
                    $('#uploadFile .qq-upload-list').html('');
                  }",
                  'onComplete'=>"js:function(id, fileName, responseJSON){ $('.cv_file_name').val(responseJSON.filename); $('.qq-upload-remove').show();$('.cv_file_name').trigger('change'); }",
                  //'messages'=>array(
                  //                  'typeError'=>"{file} has invalid extension. Only {extensions} are allowed.",
                  //                  'sizeError'=>"{file} is too large, maximum file size is {sizeLimit}.",
                  //                  'minSizeError'=>"{file} is too small, minimum file size is {minSizeLimit}.",
                  //                  'emptyError'=>"{file} is empty, please select files again without it.",
                  //                  'onLeave'=>"The files are being uploaded, if you leave now the upload will be cancelled."
                  //                 ),
                  //'showMessage'=>"js:function(message){ alert(message); }"
                )
            ));

            echo $form->error($model,'cv');

            echo CHtml::ajaxSubmitButton('SEND',CHtml::normalizeUrl(array('site/jobs')),
              array(
                'dataType'=>'json',
                'type'=>'post',
                'beforeSend' => 'function(){}',
                'success'=>'function(data)
                  {
                    if(data.status=="success")
                    {
                      $("#applicant-form")[0].reset();
                    }
                    else
                    {
                      $.each(data, function(key, val)
                      {
                        $("#applicant-form #"+key+"_em_").text(val);
                        $("#applicant-form #"+key+"_em_").show();
                      });
                    }
                  }'
                ),
                ['class' => 'btn form-send-button']);
            $this->endWidget();

      .clear