%section
  .jobs-content
    %h1 Opportunities
    .opportunities
      %h2 Omega is always looking for
        %span qualified teachers
        to add to our staff. If you meet the following requirements and want to work in a fun, fast-paced environment with flexible schedules, we would love to hear from you.
      .opportunities-borders
        %h3 Requirements
        %ul.opportunities-list

          %li
            %span Bachelor's degree from one of the top 10 universities
          %li
            %span Major course of study in Computers, Engineering, Math, or Science is preferred
          %li
            %span Previous teaching or tutoring experience with middle school or high school students
          %li
            %span Exceptional written and verbal communication skills
          %li
            %span Curriculum development experience is a plus
          %li
            %span Natural ability to explain concepts and motivate students
          %li
            %span Availability to work either afternoons, evenings, or weekends
          %li
            %span Outgoing, enthusiastic, well spoken, responsible and friendly personality is a must
    .form-bellow
      %img(src="#{$this->assetsPath}/img/photo_teacher_1.png" )
      .form-bellow-borders
        %h2 If you are interested in a position, please fill the form bellow:
        %form(name="form1" class="forms" action="" method="post" )
          %lable.form-caption
            Name
              %span*
          %div
            %input(type="text" class="text" name="firstname" placeholder="enter you name" )
          %label.form-caption
            E-mail
              %span*
          %div
            %input(type="email" class="email" name="email" placeholder="mylogin@mail.com" )
          %lable.form-caption
            Phone
          %div
            %input(type="tel" class="phone" name="phone" placeholder="enter your phone" )
          .drag-and-drop
            %p Drag and drop your resume here or
              %a(href="#") click to attach
          %input(type="button" class="form-send-button" value="send" )




  .clear