%section
  .main-classes
    %h1 The list of our classes
    .summer-seminar
      %img(src="#{$this->assetsPath}/img/photo_1_1.png" )
      %h1 Summer Seminars
      %ul.summer-seminar-list
        %li
          %span
            %b Grades:
          Entering 4th and up
        %li
          %span
            %b Class Size:
          4-12 students per seminar
        %li
          %span
            %b Times:
          Mondey-Fridey. 9:30-12:00 pm or 2-4:30pm.
        %li
          %span
            %b Duradion:
          5 days
      %p Summer seminars include: Test Prep Boot Camp, Of Myths and Monsters, Going to the Dogs, Make ‘Em Laugh, The Power of Story and Intro to Literary Analysis.
    .creative-writing
      %img(src="#{$this->assetsPath}/img/photo_2_2.png" )
      %h1 Creative Writing at Oak Knoll
      %ul
        %li
          %span
            %b Grades:
          Entering 3rd, 4th and 5th
        %li
          %span
            %b Class Size:
          12 students per class
        %li
          %span
            %b Times:
          one class perweek, 8-12 classes
        %li
          %span
            %b Duradion:
          8-12 weeks
      %p Summer seminars include: Test Prep Boot Camp, Of Myths and Monsters, Going to the Dogs, Make ‘Em Laugh, The Power of Story and Intro to Literary Analysis.
    .writing-workouts
      %img(src="#{$this->assetsPath}/img/photo_3_3.png" )
      %h1 Writing Workouts at Hillview
      %ul
        %li
          %span
            %b Grades:
          Entering 5th-8th
        %li
          %span
            %b Class Size:
          15 students per class
        %li
          %span
            %b Times:
          one class perweek, 11-12 classes
        %li
          %span
            %b Duradion:
          11-12 weeks
      %p Summer seminars include: Test Prep Boot Camp, Of Myths and Monsters, Going to the Dogs, Make ‘Em Laugh, The Power of Story and Intro to Literary Analysis.
    .what-class
      %img(src="#{$this->assetsPath}/img/question_sign_blue.png" )