%section

  .wrapper-page
    .analysis
      %img(src="#{$this->assetsPath}/img/Make ’em laugh.jpg" )
      .analysis-text
        %h1 Make ’em laugh
        %ul.analysis-list
          %li
            %b Grades:
            %p text
          %li
            %b Class Size:
          %li
            %b Times:
          %li
            %b Duration:
        %ul.analysis-list-2
          %li Level I Entering 5th -7th
            %br Level II Entering 8th -12th
          %li 4-12 students
          %li M-F 2.5 hrs
          %li one week

    .clear

    .courses

      .course-description
        %h2 Course description
        %p Writing tragedy is easy. Writing comedy is hard. However, good comedy writing still shares much in common with good writing. Parody and satire depend on knowing well the Voice and character you are mimicking or mocking. Humorous stories still rely on the Hero’s Journey. Improv exercises in class will help jumpstart ideas and get free association juices flowing.
      .course-features
        %h3 Seminar Syllabus
        %ul.days
          %li
            %span
              %b Day 1:
              Sing a Song: Song Lyrics as Laugh Lines.
          %li
            %span
              %b Day 2:
              Fractured Fairy Tales.
          %li
            %span
              %b Day 3:
              RThe Voice of God and other Authority Figures.
          %li
            %span
              %b Day 4:
              My Life In One-Liners: Comedic Monologues.
          %li
            %span
              %b Day 5:
              Order Now! Spoofing Ads.

      .enroll-course
        %h4 Enroll course
        .begins-text
          %h5 Begins:
            %span 1 June
            %br Fee per
              %br weekly session:
                %br
                  %span $275
        %img(src="#{$this->assetsPath}/img/enroll_picture.png" )
        .enroll-border
          %p Spots available:
            %span 12
        %a.enroll-button(href="#{$this->createUrl('site/Classes#calendar')}") Pick a time

      .clear

      .other-summer-classes
        %h2 Other summer classes:
        .borders
          %a.intro-button(href="#") Intro to Literary Analysis
          %a.crafting-button(href="#") Crafting The Personal Essay Statement
          %a.myth-button(href="#") Of Myth and Monsters
          .clear
          %a.going-button(href="#") Going to the dogs
          %a.make-button(href="#") Make ’Em Laugh
          %a.power-button(href="#") The Power of Story

      .not-sure
        .not-sure-inner
          %img(src="#{$this->assetsPath}/img/question_sign.png" )
            %p Not sure what class is right for you? We can help!
              %br Call us right away for a free consultation:
                %span 650-322-2671