%section
  .wrapper-page
    .wrapper-market-page
      .our-market
        %h1 Our market
        %p Welcome to the new Omega Teaching store. Here you can find materials created by our expert teachers to help you succeed on your tests.
        %br
        %p Clicking on Buy Now will take you to Paypal's secure system which will enable you to pay for the materials and download them as PDFs.
        %br
        %p If you have any questions, please contact us at
          %a(href="mailto:info@omegateaching.com" )info@omegateaching.com
          or
            %span 650-322-2671.
      .our-products
        .product
          %img(src="#{$this->assetsPath}/img/book_1.png" )
          .product-description
            %h2 Massachusetts Tests for Educator Licensure (MTEL) 03
            %br
            %p This book will prepare you for the new mathematics subtest of the
              %span MTEL General Curriculum 03 Exam.
            %br
            %p It has over 50 lessons, 600 practice questions, detailed explanations, and quizzes to cover each of the concepts covered on the new subtest, and like the new test, all areas focus on critical thought and a deep understanding of the topics. It also includes two comprehensive sample tests.
            .price
              %span 33,20$
            %button(class="btn market-button" type="button" onclick="location='http://www.amazon.com/'" )by now
              %br
                %span amazon.com
        //.clear
        .product
          %img(src="#{$this->assetsPath}/img/book_2.png" )
          .product-description
            %h2 California Subject Exam for Teachers (CSET)
            %br
            %ul
              %li
                %span Multiple Subject
              %li
                %span Subtext 2: Mathematics
              %li
                %span Full Sample Test with Detailed Answer Explanations
            %br
            %p "When I first took the CSET I received the lowest possible score on Subtest 2. I turned to Omega one month before I was going to retake it, and I easily passed and received the highest possible score. Effective materials made by expert teachers. Thank you." -- Beth, Teacher
            .price
              %span 15,95$
            %button(class="btn market-button" type="button"  onclick="location='http://www.amazon.com/'" )by now
              %br
                %span amazon.com
      .clear
