%section
  .wrapper-page
    .payment
      .last-step
        %p
          Make the last step
          %span
            %br
              Finish your registration!
      .payment-enroll
        %h1 Creative Writing at Oak Knoll
        %table.pay-data
          %tr
            %th Duradtion:
            %td.tg1
              %b
                Winter trimester
              %br>
              %b January 14 - April 8
          %tr.tgg
            %th.tg Price:
            %td
              %span $275
        %input(type="button"class="pay-pall-btn")

