%section

  .wrapper-page

    .analysis
      %img(src="#{$this->assetsPath}/img/The power of story.jpg" )
      .analysis-text
        %h1 The power of story
        %ul.analysis-list
          %li
            %b Grades:
            %p text
          %li
            %b Class Size:
          %li
            %b Times:
          %li
            %b Duration:
        %ul.analysis-list-2
          %li Level I Entering 5th-7th
            %br Level II Entering 8th-12th
          %li 4-12 students
          %li M-F 2.5 hrs
          %li one week

    .clear

    .courses

      .course-description
        %h2 Course description
        %p The Power of Story introduces techniques and structure common to good stories: concrete details, emotional resonance and the Hero’s Journey. Students will analyze and rewrite iconic stories from mythology, the Bible or fairy tales. This course will also integrate the elements of visual and verbal storytelling as students will develop a PowerPoint presentation based on the story they have chosen. Students taking Crafting the Personal Essay Statement are also encouraged to take this class. Cognitive science is now confirming what ancient civilizations and modern advertising have long known;
        %p Story has the power to engage, teach and move the Audience. Through Story, we impose order on a seemingly random and chaotic world.
      .course-features
        %h3 Seminar Syllabus
        %ul.days
          %li
            %span
              %b Day 1:
              Make it Real: Experience, Memoir and Fiction.
          %li
            %span
              %b Day 2:
              What a Feeling: Character, Emotion and Empathy
          %li
            %span
              %b Day 3:
              The Hero’s Journey: Analyzing Story Structure.
          %li
            %span
              %b Day 4:
              Seeing is Remembering: PowerPoint as Picture Book.
          %li
            %span
              %b Day 5:
              Stand up and Speak: Posture, Gesture and Voice.

      .enroll-course
        %h4 Enroll course
        .begins-text
          %h5 Begins:
            %span 1 June
            %br Fee per
              %br weekly session:
                %br
                  %span $275
        %img(src="#{$this->assetsPath}/img/enroll_picture.png" )
        .enroll-border
          %p Spots available:
            %span 12
        %a.enroll-button(href="#{$this->createUrl('site/Classes#calendar')}") enroll now

      .clear

      .other-summer-classes
        %h2 Other summer classes:
        .borders
          %a.intro-button(href="#") Intro to Literary Analysis
          %a.crafting-button(href="#") Crafting The Personal Essay Statement
          %a.myth-button(href="#") Of Myth and Monsters
          .clear
          %a.going-button(href="#") Going to the dogs
          %a.make-button(href="#") Make ’Em Laugh
          %a.power-button(href="#") The Power of Story

      .not-sure
        .not-sure-inner
          %img(src="#{$this->assetsPath}/img/question_sign.png" )
            %p Not sure what class is right for you? We can help!
              %br Call us right away for a free consultation:
                %span 650-322-2671