@mixin linear-gradient($fromColor, $toColor)
  background-color: $toColor
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor))
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor)
  background-image: -moz-linear-gradient(top, $fromColor, $toColor)
  background-image: -ms-linear-gradient(top, $fromColor, $toColor)
  background-image: -o-linear-gradient(top, $fromColor, $toColor)
  background-image: linear-gradient(top, $fromColor, $toColor)
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}')

@mixin border-radius($radius)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

@mixin custom-border-radius($topLeft, $topRight, $bottomRight, $bottomLeft)
  -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft
  -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft
  -ms-border-radius: $topLeft $topRight $bottomRight $bottomLeft
  border-radius: $topLeft $topRight $bottomRight $bottomLeft

@mixin borders-left-right-bottom
  border-left: 1px solid #ececec
  border-right: 1px solid #ececec
  border-bottom: 1px solid #ececec
