
/**GLOBAL FOOTER**/

@mixin footer-bg($size:auto)
  height: $size
  background: #fbfbfb
  background: -moz-linear-gradient(top, #fbfbfb 0%, #e3e3e3 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e3e3e3))
  background: -webkit-linear-gradient(top, #fbfbfb 0%,#e3e3e3 100%)
  background: -o-linear-gradient(top, #fbfbfb 0%,#e3e3e3 100%)
  background: -ms-linear-gradient(top, #fbfbfb 0%,#e3e3e3 100%)
  background: linear-gradient(to bottom, #fbfbfb 0%,#e3e3e3 100%)




@mixin footer-border-top
  height: 1px
  margin-top: 5px
  margin-bottom: 5px
  background: #019140
  background: -moz-linear-gradient(left, #019140 0%, #4d9ad3 100%)
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#019140), color-stop(100%,#4d9ad3))
  background: -webkit-linear-gradient(left, #019140 0%,#4d9ad3 100%)
  background: -o-linear-gradient(left, #019140 0%,#4d9ad3 100%)
  background: -ms-linear-gradient(left, #019140 0%,#4d9ad3 100%)
  background: linear-gradient(to right, #019140 0%,#4d9ad3 100%)

/**OPACITY**/

/**MAIN PAGE**/

/**HEADER**/

@mixin header-bg-main-page($size:auto)
  background-image: url("../img/main_big_photo.jpg")
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: $size
  padding-top: 10px

@mixin header-gradient
  background: #ffffff
  background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef))
  background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%)
  background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%)
  background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%)
  background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%)

@mixin header-border-top-radius
  border-top-left-radius: 10px
  -moz-border-top-left-radius: 10px
  -webkit-border-top-left-radius: 10px
  border-top-right-radius: 10px
  -moz-border-top-right-radius: 10px
  -webkit-border-top-right-radius: 10px

@mixin login-button-gradient
  background: #53bb4c
  background: -moz-linear-gradient(top, #53bb4c 0%, #029141 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53bb4c), color-stop(100%,#029141))
  background: -webkit-linear-gradient(top, #53bb4c 0%,#029141 100%)
  background: -o-linear-gradient(top, #53bb4c 0%,#029141 100%)
  background: -ms-linear-gradient(top, #53bb4c 0%,#029141 100%)
  background: linear-gradient(to bottom, #53bb4c 0%,#029141 100%)
  &:hover
    background: #029141
    background: -moz-linear-gradient(top, #029141 0%, #53bb4c 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029141), color-stop(100%,#53bb4c))
    background: -webkit-linear-gradient(top, #029141 0%,#53bb4c 100%)
    background: -o-linear-gradient(top, #029141 0%,#53bb4c 100%)
    background: -ms-linear-gradient(top, #029141 0%,#53bb4c 100%)
    background: linear-gradient(to bottom, #029141 0%,#53bb4c 100%)

@mixin login-button-border
  border-radius: 20px
  -moz-border-radius: 20px
  -wbkit-border-radius: 20px

@mixin nav-bottom-borders
  border-bottom-left-radius: 10px
  -moz-border-bottom-left-radius: 10px
  -webkit-border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  -moz-border-bottom-right-radius: 10px
  -webkit-border-bottom-right-radius: 10px

@mixin nav-button-gradient
  &:hover
    background: #53bb4c
    background: -moz-linear-gradient(top, #53bb4c 0%, #029141 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53bb4c), color-stop(100%,#029141))
    background: -webkit-linear-gradient(top, #53bb4c 0%,#029141 100%)
    background: -o-linear-gradient(top, #53bb4c 0%,#029141 100%)
    background: -ms-linear-gradient(top, #53bb4c 0%,#029141 100%)
    background: linear-gradient(to bottom, #53bb4c 0%,#029141 100%)
    color: #ffffff
    border-radius: 15px
    -moz-border-radius: 15px
    -webkit-border-radius: 15px

@mixin heder-nav
  margin: 0 auto
  width: 940px
  height: 36px
  background-color: rgba(255, 255, 255, 0.5)


@mixin header-search-form-rounded
  width: 242px
  height: 24px
  float: right
  margin-right: 20px
  border-radius: 20px
  -moz-border-radius: 20px
  -webkit-border-radius: 20px
  margin-top: 5px
  border: none
  box-shadow: inset 0 1px 2px 1px #A8A8A8
  -moz-box-shadow: inset 0 1px 2px 1px #A8A8A8
  -webkit-box-shadow: inset 0 1px 2px 1px #A8A8A8


/**SECTION**/

@mixin cont-bg-gradient
  background: #fcfbfb
  background: -moz-linear-gradient(top, #fcfbfb 0%, #f1f1f1 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbfb), color-stop(100%,#f1f1f1))
  background: -webkit-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -o-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -ms-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: linear-gradient(to bottom, #fcfbfb 0%,#f1f1f1 100%)

@mixin cont-borders
  border-bottom-left-radius: 20px
  -moz-border-bottom-left-radius: 20px
  -webkit-border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  -moz-border-bottom-right-radius: 20px
  -webkit-border-bottom-right-radius: 20px

@mixin borders-radius
  border-top-right-radius: 20px
  -moz-border-top-right-radius: 20px
  -webkit-border-top-right-radius: 20px
  border-top-left-radius: 20px
  -moz-border-top-left-radius: 20px
  -webkit-border-top-left-radius: 20px
  border-bottom-left-radius: 20px
  -moz-border-bottom-left-radius: 20px
  -webkit-border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  -moz-border-bottom-right-radius: 20px
  -webkit-border-bottom-right-radius: 20px

@mixin tutoring-button-gradient
  background: #6bcb64
  background: -moz-linear-gradient(top, #6bcb64 0%, #019140 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bcb64), color-stop(100%,#019140))
  background: -webkit-linear-gradient(top, #6bcb64 0%,#019140 100%)
  background: -o-linear-gradient(top, #6bcb64 0%,#019140 100%)
  background: -ms-linear-gradient(top, #6bcb64 0%,#019140 100%)
  background: linear-gradient(to bottom, #6bcb64 0%,#019140 100%)
  &:hover
    background: #019140
    background: -moz-linear-gradient(top, #019140 0%, #6bcb64 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#019140), color-stop(100%,#6bcb64))
    background: -webkit-linear-gradient(top, #019140 0%,#6bcb64 100%)
    background: -o-linear-gradient(top, #019140 0%,#6bcb64 100%)
    background: -ms-linear-gradient(top, #019140 0%,#6bcb64 100%)
    background: linear-gradient(to bottom, #019140 0%,#6bcb64 100%)


@mixin classes-button-gradient
  background: #50cda5
  background: -moz-linear-gradient(top, #50cda5 0%, #18946c 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50cda5), color-stop(100%,#18946c))
  background: -webkit-linear-gradient(top, #50cda5 0%,#18946c 100%)
  background: -o-linear-gradient(top, #50cda5 0%,#18946c 100%)
  background: -ms-linear-gradient(top, #50cda5 0%,#18946c 100%)
  background: linear-gradient(to bottom, #50cda5 0%,#18946c 100%)
  &:hover
    background: #18946c
    background: -moz-linear-gradient(top, #18946c 0%, #50cda5 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18946c), color-stop(100%,#50cda5))
    background: -webkit-linear-gradient(top, #18946c 0%,#50cda5 100%)
    background: -o-linear-gradient(top, #18946c 0%,#50cda5 100%)
    background: -ms-linear-gradient(top, #18946c 0%,#50cda5 100%)
    background: linear-gradient(to bottom, #18946c 0%,#50cda5 100%)


@mixin cat-button-gradient
  background: #62cadb
  background: -moz-linear-gradient(top, #62cadb 0%, #3697a7 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62cadb), color-stop(100%,#3697a7))
  background: -webkit-linear-gradient(top, #62cadb 0%,#3697a7 100%)
  background: -o-linear-gradient(top, #62cadb 0%,#3697a7 100%)
  background: -ms-linear-gradient(top, #62cadb 0%,#3697a7 100%)
  background: linear-gradient(to bottom, #62cadb 0%,#3697a7 100%)
  &:hover
    background: #3697a7
    background: -moz-linear-gradient(top, #3697a7 0%, #62cadb 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3697a7), color-stop(100%,#62cadb))
    background: -webkit-linear-gradient(top, #3697a7 0%,#62cadb 100%)
    background: -o-linear-gradient(top, #3697a7 0%,#62cadb 100%)
    background: -ms-linear-gradient(top, #3697a7 0%,#62cadb 100%)
    background: linear-gradient(to bottom, #3697a7 0%,#62cadb 100%)


@mixin isee-button-gradient
  background: #8cc6ef
  background: -moz-linear-gradient(top, #8cc6ef 0%, #4a98ce 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cc6ef), color-stop(100%,#4a98ce))
  background: -webkit-linear-gradient(top, #8cc6ef 0%,#4a98ce 100%)
  background: -o-linear-gradient(top, #8cc6ef 0%,#4a98ce 100%)
  background: -ms-linear-gradient(top, #8cc6ef 0%,#4a98ce 100%)
  background: linear-gradient(to bottom, #8cc6ef 0%,#4a98ce 100%)
  &:hover
    background: #4a98ce
    background: -moz-linear-gradient(top, #4a98ce 0%, #8cc6ef 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a98ce), color-stop(100%,#8cc6ef))
    background: -webkit-linear-gradient(top, #4a98ce 0%,#8cc6ef 100%)
    background: -o-linear-gradient(top, #4a98ce 0%,#8cc6ef 100%)
    background: -ms-linear-gradient(top, #4a98ce 0%,#8cc6ef 100%)

@mixin about-block-border-radius
  border-radius: 10px
  -moz-border-radius: 10px
  -webkit-border-radius: 10px


  /**CLASSES PAGE**/

@mixin bread-crumbs-border-radius
  border: 1px solid #ececec
  border-bottom-left-radius: 10px
  border-top-left-radius: 10px
  border-bottom-right-radius: 5px
  border-top-right-radius: 5px

@mixin bread-gradient
  background: #fcfbfb
  background: -moz-linear-gradient(top, #fcfbfb 0%, #f1f1f1 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbfb), color-stop(100%,#f1f1f1))
  background: -webkit-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -o-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -ms-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: linear-gradient(to bottom, #fcfbfb 0%,#f1f1f1 100%)

@mixin summer-classes-border-radius
  border-top-right-radius: 20px
  -moz-border-top-right-radius: 20px
  -webkit-border-top-right-radius: 20px
  border-top-left-radius: 20px
  -moz-border-top-left-radius: 20px
  -webkit-border-top-left-radius: 20px
  border-bottom-left-radius: 20px
  -moz-border-bottom-left-radius: 20px
  -webkit-border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  -moz-border-bottom-right-radius: 20px
  -webkit-border-bottom-right-radius: 20px

@mixin camp-button-gradient
  background: #6bcb64
  background: -moz-linear-gradient(top, #6bcb64 0%, #019140 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bcb64), color-stop(100%,#019140))
  background: -webkit-linear-gradient(top, #6bcb64 0%,#019140 100%)
  background: -o-linear-gradient(top, #6bcb64 0%,#019140 100%)
  background: -ms-linear-gradient(top, #6bcb64 0%,#019140 100%)
  background: linear-gradient(to bottom, #6bcb64 0%,#019140 100%)
  &:hover
    background: #019140
    background: -moz-linear-gradient(top, #019140 0%, #6bcb64 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#019140), color-stop(100%,#6bcb64))
    background: -webkit-linear-gradient(top, #019140 0%,#6bcb64 100%)
    background: -o-linear-gradient(top, #019140 0%,#6bcb64 100%)
    background: -ms-linear-gradient(top, #019140 0%,#6bcb64 100%)
    background: linear-gradient(to bottom, #019140 0%,#6bcb64 100%)

@mixin buttons-border-radius
  border-radius: 20px
  -moz-border-radius: 20px
  -webkit-border-radius: 20px

@mixin personal-button-grarient
  background: #2cc87f
  background: -moz-linear-gradient(top, #2cc87f 0%, #0a9252 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2cc87f), color-stop(100%,#0a9252))
  background: -webkit-linear-gradient(top, #2cc87f 0%,#0a9252 100%)
  background: -o-linear-gradient(top, #2cc87f 0%,#0a9252 100%)
  background: -ms-linear-gradient(top, #2cc87f 0%,#0a9252 100%)
  background: linear-gradient(to bottom, #2cc87f 0%,#0a9252 100%)
  &:hover
    background: #0a9252
    background: -moz-linear-gradient(top, #0a9252 0%, #2cc87f 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a9252), color-stop(100%,#2cc87f))
    background: -webkit-linear-gradient(top, #0a9252 0%,#2cc87f 100%)
    background: -o-linear-gradient(top, #0a9252 0%,#2cc87f 100%)
    background: -ms-linear-gradient(top, #0a9252 0%,#2cc87f 100%)
    background: linear-gradient(to bottom, #0a9252 0%,#2cc87f 100%)

@mixin myths-button-gradient
  background: #30c494
  background: -moz-linear-gradient(top, #30c494 0%, #18946c 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30c494), color-stop(100%,#18946c))
  background: -webkit-linear-gradient(top, #30c494 0%,#18946c 100%)
  background: -o-linear-gradient(top, #30c494 0%,#18946c 100%)
  background: -ms-linear-gradient(top, #30c494 0%,#18946c 100%)
  background: linear-gradient(to bottom, #30c494 0%,#18946c 100%)
  &:hover
    background: #18946c
    background: -moz-linear-gradient(top, #18946c 0%, #30c494 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#18946c), color-stop(100%,#30c494))
    background: -webkit-linear-gradient(top, #18946c 0%,#30c494 100%)
    background: -o-linear-gradient(top, #18946c 0%,#30c494 100%)
    background: -ms-linear-gradient(top, #18946c 0%,#30c494 100%)
    background: linear-gradient(to bottom, #18946c 0%,#30c494 100%)


@mixin going-button-gradient
  background: #36c3b4
  background: -moz-linear-gradient(top, #36c3b4 0%, #27968a 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36c3b4), color-stop(100%,#27968a))
  background: -webkit-linear-gradient(top, #36c3b4 0%,#27968a 100%)
  background: -o-linear-gradient(top, #36c3b4 0%,#27968a 100%)
  background: -ms-linear-gradient(top, #36c3b4 0%,#27968a 100%)
  background: linear-gradient(to bottom, #36c3b4 0%,#27968a 100%)
  &:hover
    background: #27968a
    background: -moz-linear-gradient(top, #27968a 0%, #36c3b4 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#27968a), color-stop(100%,#36c3b4))
    background: -webkit-linear-gradient(top, #27968a 0%,#36c3b4 100%)
    background: -o-linear-gradient(top, #27968a 0%,#36c3b4 100%)
    background: -ms-linear-gradient(top, #27968a 0%,#36c3b4 100%)
    background: linear-gradient(to bottom, #27968a 0%,#36c3b4 100%)

@mixin laugh-button-gradient
  background: #4ac2d6
  background: -moz-linear-gradient(top, #4ac2d6 0%, #3797a8 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ac2d6), color-stop(100%,#3797a8))
  background: -webkit-linear-gradient(top, #4ac2d6 0%,#3797a8 100%)
  background: -o-linear-gradient(top, #4ac2d6 0%,#3797a8 100%)
  background: -ms-linear-gradient(top, #4ac2d6 0%,#3797a8 100%)
  background: linear-gradient(to bottom, #4ac2d6 0%,#3797a8 100%)
  &:hover
    background: #3797a8
    background: -moz-linear-gradient(top, #3797a8 0%, #4ac2d6 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3797a8), color-stop(100%,#4ac2d6))
    background: -webkit-linear-gradient(top, #3797a8 0%,#4ac2d6 100%)
    background: -o-linear-gradient(top, #3797a8 0%,#4ac2d6 100%)
    background: -ms-linear-gradient(top, #3797a8 0%,#4ac2d6 100%)
    background: linear-gradient(to bottom, #3797a8 0%,#4ac2d6 100%)

@mixin story-button-gradient
  background: #4ac2d6
  background: -moz-linear-gradient(top, #4ac2d6 0%, #4499c1 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ac2d6), color-stop(100%,#4499c1))
  background: -webkit-linear-gradient(top, #4ac2d6 0%,#4499c1 100%)
  background: -o-linear-gradient(top, #4ac2d6 0%,#4499c1 100%)
  background: -ms-linear-gradient(top, #4ac2d6 0%,#4499c1 100%)
  background: linear-gradient(to bottom, #4ac2d6 0%,#4499c1 100%)
  &:hover
    background: #4499c1
    background: -moz-linear-gradient(top, #4499c1 0%, #4ac2d6 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4499c1), color-stop(100%,#4ac2d6))
    background: -webkit-linear-gradient(top, #4499c1 0%,#4ac2d6 100%)
    background: -o-linear-gradient(top, #4499c1 0%,#4ac2d6 100%)
    background: -ms-linear-gradient(top, #4499c1 0%,#4ac2d6 100%)
    background: linear-gradient(to bottom, #4499c1 0%,#4ac2d6 100%)

@mixin intro-button-gradient
  background: #73c3ff
  background: -moz-linear-gradient(top, #73c3ff 0%, #4d9ad3 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73c3ff), color-stop(100%,#4d9ad3))
  background: -webkit-linear-gradient(top, #73c3ff 0%,#4d9ad3 100%)
  background: -o-linear-gradient(top, #73c3ff 0%,#4d9ad3 100%)
  background: -ms-linear-gradient(top, #73c3ff 0%,#4d9ad3 100%)
  background: linear-gradient(to bottom, #73c3ff 0%,#4d9ad3 100%)
  &:hover
    background: #4d9ad3
    background: -moz-linear-gradient(top, #4d9ad3 0%, #73c3ff 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d9ad3), color-stop(100%,#73c3ff))
    background: -webkit-linear-gradient(top, #4d9ad3 0%,#73c3ff 100%)
    background: -o-linear-gradient(top, #4d9ad3 0%,#73c3ff 100%)
    background: -ms-linear-gradient(top, #4d9ad3 0%,#73c3ff 100%)
    background: linear-gradient(to bottom, #4d9ad3 0%,#73c3ff 100%)

@mixin enrollment-form-border-radius
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px

@mixin table-border-radius
  border-radius: 20px
  -moz-border-radius: 20px
  -webkit-border-radius: 20px

@mixin table-button-gradient
  background: #fcfbfb
  background: -moz-linear-gradient(top, #fcfbfb 0%, #f1f1f1 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbfb), color-stop(100%,#f1f1f1))
  background: -webkit-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -o-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -ms-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: linear-gradient(to bottom, #fcfbfb 0%,#f1f1f1 100%)
  &:hover
    background: #f1f1f1
    background: -moz-linear-gradient(top, #f1f1f1 0%, #fcfbfb 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#fcfbfb))
    background: -webkit-linear-gradient(top, #f1f1f1 0%,#fcfbfb 100%)
    background: -o-linear-gradient(top, #f1f1f1 0%,#fcfbfb 100%)
    background: -ms-linear-gradient(top, #f1f1f1 0%,#fcfbfb 100%)
    background: linear-gradient(to bottom, #f1f1f1 0%,#fcfbfb 100%)

@mixin th-border-radius
  border-top-left-radius: 10px
  border-top-right-radius: 10px

@mixin th-gradient
  background: #fcfbfb
  background: -moz-linear-gradient(top, #fcfbfb 0%, #f1f1f1 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbfb), color-stop(100%,#f1f1f1))
  background: -webkit-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -o-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -ms-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: linear-gradient(to bottom, #fcfbfb 0%,#f1f1f1 100%)

@mixin th-hover-gradient
  &:hover
    background: #6bcb64
    background: -moz-linear-gradient(top, #6bcb64 0%, #019140 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bcb64), color-stop(100%,#019140))
    background: -webkit-linear-gradient(top, #6bcb64 0%,#019140 100%)
    background: -o-linear-gradient(top, #6bcb64 0%,#019140 100%)
    background: -ms-linear-gradient(top, #6bcb64 0%,#019140 100%)
    background: linear-gradient(to bottom, #6bcb64 0%,#019140 100%)
    color: #ffffff
    span
      display: inline-block
      color: #fcd234

@mixin th-hovered-gradient
  background: #6bcb64
  background: -moz-linear-gradient(top, #6bcb64 0%, #019140 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bcb64), color-stop(100%,#019140))
  background: -webkit-linear-gradient(top, #6bcb64 0%,#019140 100%)
  background: -o-linear-gradient(top, #6bcb64 0%,#019140 100%)
  background: -ms-linear-gradient(top, #6bcb64 0%,#019140 100%)
  background: linear-gradient(to bottom, #6bcb64 0%,#019140 100%)

@mixin table-button-gradient
  background: #fcfbfb
  background: -moz-linear-gradient(top, #fcfbfb 0%, #f1f1f1 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbfb), color-stop(100%,#f1f1f1))
  background: -webkit-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -o-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -ms-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: linear-gradient(to bottom, #fcfbfb 0%,#f1f1f1 100%)
  &:hover
    background: #f1f1f1
    background: -moz-linear-gradient(top, #f1f1f1 0%, #fcfbfb 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#fcfbfb))
    background: -webkit-linear-gradient(top, #f1f1f1 0%,#fcfbfb 100%)
    background: -o-linear-gradient(top, #f1f1f1 0%,#fcfbfb 100%)
    background: -ms-linear-gradient(top, #f1f1f1 0%,#fcfbfb 100%)
    background: linear-gradient(to bottom, #f1f1f1 0%,#fcfbfb 100%)


/**OPENED CLASS**/

@mixin analysis-gradient
  background: #fcfbfb
  background: -moz-linear-gradient(top, #fcfbfb 0%, #f1f1f1 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbfb), color-stop(100%,#f1f1f1))
  background: -webkit-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -o-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -ms-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: linear-gradient(to bottom, #fcfbfb 0%,#f1f1f1 100%)

@mixin analysis-border-radius
  border-radius: 10px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px

@mixin enroll-button-gradient
  background: #53bb4c
  background: -moz-linear-gradient(top, #53bb4c 0%, #029141 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53bb4c), color-stop(100%,#029141))
  background: -webkit-linear-gradient(top, #53bb4c 0%,#029141 100%)
  background: -o-linear-gradient(top, #53bb4c 0%,#029141 100%)
  background: -ms-linear-gradient(top, #53bb4c 0%,#029141 100%)
  background: linear-gradient(to bottom, #53bb4c 0%,#029141 100%)
  &:hover
    background: #029141
    background: -moz-linear-gradient(top, #029141 0%, #53bb4c 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029141), color-stop(100%,#53bb4c))
    background: -webkit-linear-gradient(top, #029141 0%,#53bb4c 100%)
    background: -o-linear-gradient(top, #029141 0%,#53bb4c 100%)
    background: -ms-linear-gradient(top, #029141 0%,#53bb4c 100%)
    background: linear-gradient(to bottom, #029141 0%,#53bb4c 100%)

@mixin summer-classes-buttons-gradients
  background: #fcfbfb
  background: -moz-linear-gradient(top, #fcfbfb 0%, #f1f1f1 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbfb), color-stop(100%,#f1f1f1))
  background: -webkit-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -o-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: -ms-linear-gradient(top, #fcfbfb 0%,#f1f1f1 100%)
  background: linear-gradient(to bottom, #fcfbfb 0%,#f1f1f1 100%)
  &:hover
    background: #f1f1f1
    background: -moz-linear-gradient(top, #f1f1f1 0%, #fcfbfb 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#fcfbfb))
    background: -webkit-linear-gradient(top, #f1f1f1 0%,#fcfbfb 100%)
    background: -o-linear-gradient(top, #f1f1f1 0%,#fcfbfb 100%)
    background: -ms-linear-gradient(top, #f1f1f1 0%,#fcfbfb 100%)
    background: linear-gradient(to bottom, #f1f1f1 0%,#fcfbfb 100%)

@mixin not-sure-border-radius
  border-radius: 10px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px


@mixin borders-left-right-bottom
  border-left: 1px solid #ececec
  border-right: 1px solid #ececec
  border-bottom: 1px solid #ececec

@mixin border-bottom-radius
  -webkit-border-bottom-left-radius: 10px
  -moz-border-bottom-left-radius: 10px
  border-bottom-left-radius: 10px
  -webkit-border-bottom-right-radius: 10px
  -moz-border-bottom-right-radius: 10px
  border-bottom-right-radius: 10px