@import "compass"
@import "compass/reset"
@import "compass/css3"
@import "compass/utilities"
@import "compass/css3/border-radius"

/**including mixin files**/
@import "mixin"

/**VARIABLES**/

$head-fonts: 'Open Sans', sans-serif
$second-fonts: 'Montserrat', sans-serif
$button-text-color: #ffffff

/*-----------------------------------------*/

.clear
  clear: both

/**HEADER**/

header
  @include header-bg-main-page(440px)

  .header
    margin: 0 auto
    width: 940px
    height: 62px
    @include header-border-top-radius
    @include header-gradient

  .logo
    float: left
    padding-top: 13px
    padding-left: 12px
    padding-right: 425px

  .phone
    padding-top: 24px
    img
      float: left
      padding-right: 10px
    h1
      float: left
      font-family: 'Open Sans', sans-serif
      font-size: 18px
      font-weight: bold
      color: #666666

  .logins
    float: right
    margin-right: 20px
    p
      float: left
      padding-top: 6px
      padding-right: 10px
      font-family: 'Montserrat', sans-serif
      font-size: 10px
      color: #019140
      text-transform: uppercase

    .login-button
      position: relative
      text-align: center
      @include login-button-gradient
      @include login-button-border
      color: #ffffff
      font-size: 10px
      text-decoration: none
      font-family: 'Montserrat', sans-serif
      text-transform: uppercase
      padding: 5px 17px 5px 17px

  .nav
    @include heder-nav
    @include nav-bottom-borders

  .header-menu
    padding-top: 10px
    padding-left: 12px
    float: left
    li
      float: left
      a
        list-style: none
        text-decoration: none
        font-family: 'Montserrat', sans-serif
        font-weight: bold
        font-size: 14px
        color: #333333
        padding: 4px 17px 4px 17px
        @include nav-button-gradient
  form

    .rounded
      @include header-search-form-rounded

    .search
      padding: 0 0 0 30px
      background: url("../img/icon_search.png") no-repeat 8px 6px
      background-color: #ffffff

    input[type="text"]
      font-family: 'Open Sans', sans-serif
      font-size: 12px
      color: #999999

.slider
  margin: 0 auto
  width: 940px
  overflow: hidden

  .slide-text
    background-image: url("../img/light.png")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    float: left
    width: 444px
    height: 344px
    /*margin-top: 80px*/
    h1
      font-family: 'Montserrat', sans-serif
      font-weight: bold
      color: #007c2d
      font-size: 48px
      text-align: center
      padding-top: 80px
    p
      margin-left: 90px
      margin-top: 10px
      width: 254px
      font-family: 'Open Sans', sans-serif
      font-size: 24px
      color: #333333
      text-align: center

  .puzzle
    float: right
    margin-top: 226px
    margin-right: 20px
    &:hover
      background-image: url("../img/button_puzzle_hover.png")
      width: 160px
      height: 65px
      cursor: pointer

/**CONTENT**/

section
  .karkas
    margin: 0 auto
    width: 940px
    margin-bottom: 20px

    .cont
      height: 115px
      @include cont-bg-gradient
      @include cont-borders

      .stanford p, .academic p, .individual p
        font-family: 'Open Sans', sans-serif
        font-size: 13px
        line-height: 1.8em
        color: #333333

      .stanford img, .academic img, .individual img
        float: left
        margin-right: 10px

      .stanford
        float: left
        width: 276px
        margin-top: 30px
        margin-left: 50px

      .academic
        float: left
        width: 300px
        margin-top: 30px
        margin-left: 20px

      .individual
        float: right
        width: 235px
        margin-top: 30px
        margin-right: 50px

    .education
      margin-top: 50px
      h1
        font-family: 'Montserrat', sans-serif
        font-weight: bold
        font-size: 18px
        color: #333333
        padding-bottom: 20px

      .tutoring, .classes, .cat-and-cat, .isee-and-hspt
        @include borders-radius

      .tutoring
        float: left
        width: 219px
        border-left: 1px solid #ececec
        border-right: 1px solid #ececec
        border-bottom: 1px solid #ececec

        h1
          font-size: 24px
          color: #019140
          margin-top: 10px
          margin-left: 15px
        p
          margin-left: 15px
          margin-bottom: 19px
          font-family: 'Open Sans', sans-serif
          font-size: 13px
          line-height: normal
          color: #666666
          width: 182px

        .tutoring-button
          position: relative
          top: 7px
          left: 65px
          text-align: center
          @include tutoring-button-gradient
          @include buttons-border-radius
          color: #ffffff
          font-family: 'Montserrat', sans-serif
          font-size: 10px
          text-transform: uppercase
          text-decoration: none
          padding: 5px 13px

      .classes
        float: left
        margin-left: 20px
        width: 219px
        border-left: 1px solid #ececec
        border-right: 1px solid #ececec
        border-bottom: 1px solid #ececec
        h1
          font-size: 24px
          color: #18946c
          margin-top: 10px
          margin-left: 15px
        p
          margin-left: 15px
          margin-bottom: 37px
          font-family: 'Open Sans', sans-serif
          font-size: 13px
          line-height: normal
          color: #666666
          width: 180px

        .classes-button
          position: relative
          top: 7px
          left: 65px
          text-align: center
          @include classes-button-gradient
          @include buttons-border-radius
          color: #ffffff
          font-family: 'Montserrat', sans-serif
          font-size: 10px
          text-transform: uppercase
          text-decoration: none
          padding: 5px 13px

      .cat-and-cat
        float: left
        margin-left: 20px
        width: 219px
        border-left: 1px solid #ececec
        border-right: 1px solid #ececec
        border-bottom: 1px solid #ececec
        h1
          font-size: 24px
          color: #3697a7
          margin-top: 10px
          margin-left: 15px
        p
          margin-left: 15px
          margin-bottom: 37px
          font-family: 'Open Sans', sans-serif
          font-size: 13px
          line-height: normal
          color: #666666
          width: 180px

        .cat-button
          position: relative
          top: 7px
          left: 65px
          text-align: center
          @include cat-button-gradient
          @include buttons-border-radius
          color: #ffffff
          font-family: 'Montserrat', sans-serif
          font-size: 10px
          text-transform: uppercase
          text-decoration: none
          padding: 5px 13px

      .isee-and-hspt
        float: right
        width: 219px
        border-left: 1px solid #ececec
        border-right: 1px solid #ececec
        border-bottom: 1px solid #ececec
        h1
          font-size: 24px
          color: #4a98ce
          margin-top: 10px
          margin-left: 15px
        p
          margin-left: 15px
          font-family: 'Open Sans', sans-serif
          font-size: 13px
          line-height: normal
          color: #666666
          width: 180px

        .isee-button
          position: relative
          top: 7px
          left: 65px
          text-align: center
          @include isee-button-gradient
          @include buttons-border-radius
          color: #ffffff
          font-family: 'Montserrat', sans-serif
          font-size: 10px
          text-transform: uppercase
          text-decoration: none
          padding: 5px 13px

    .content
      position: relative
      margin-top: 80px
      .left-colum
        float: left
        width: 220px
        text-align: center
        h1
          padding-top: 20px
          font-family: 'Montserrat', sans-serif
          font-size: 18px
          font-weight: bold
          color: #333333
      .date
        position: absolute
        top: 8px
        left: 84px
        h2
          font-size: 18px
          font-family: 'Montserrat', sans-serif
          color: #ffffff
        h1
          padding-top: 10px
          font-size: 36px
          color: #333333

      .app-store
        margin-top: 10px

      .google-play
        margin-top: 10px

      .right-colum
        float: right
        h1
          font-family: 'Montserrat', sans-serif
          font-weight: bold
          font-size: 18px
          color: #333333
          margin-bottom: 10px

      .about-block
        border: 1px solid #e6e6e6
        @include about-block-border-radius
        height: 258px
        width: 700px
        .about-text
          float: left
          margin-top: 40px
          margin-left: 40px
          width: 292px
          font-family: 'Open Sans', sans-serif
          font-size: 13px
          line-height: 1.5em
          color: #666666
        .about-text-r
          float: right
          margin-top: 40px
          margin-right: 60px
          width: 285px
          font-family: 'Open Sans', sans-serif
          font-size: 13px
          line-height: 1.5em
          color: #666666

    .map
      margin-top: 50px
      h1
        padding-bottom: 10px
        font-family: 'Montserrat', sans-serif
        font-size: 18px
        font-weight: bold
        color: #333333

/**Classes-pages**/

header#header-bg
  background-image: url("../img/header_picture.jpg")
  background-position: top center
  background-repeat: no-repeat
  height: 113px
  padding-top: 10px

  .header
    margin: 0 auto
    width: 940px
    height: 62px
    @include header-border-top-radius
    @include header-gradient

  .logo
    float: left
    padding-top: 13px
    padding-left: 12px
    padding-right: 425px

  .phone
    padding-top: 24px
    img
      float: left
      padding-right: 10px
    h1
      float: left
      font-family: 'Open Sans', sans-serif
      font-size: 18px
      font-weight: bold
      color: #666666

  .logins
    float: right
    margin-right: 20px
    p
      float: left
      padding-top: 6px
      padding-right: 10px
      font-family: 'Montserrat', sans-serif
      font-size: 10px
      color: #019140
      text-transform: uppercase
    .login-button
      position: relative
      text-align: center
      @include login-button-gradient
      @include login-button-border
      color: #ffffff
      font-size: 10px
      text-decoration: none
      font-family: 'Montserrat', sans-serif
      text-transform: uppercase
      padding: 5px 17px 5px 17px

  .nav
    margin: 0 auto
    width: 940px
    height: 36px
    @include heder-nav
    @include nav-bottom-borders

  .header-menu
    padding-top: 10px
    padding-left: 12px
    float: left
    li
      float: left
      a
        list-style: none
        text-decoration: none
        font-family: 'Montserrat', sans-serif
        font-weight: bold
        font-size: 14px
        color: #333333
        padding: 4px 17px 4px 17px
        @include nav-button-gradient
  form
    .rounded
      @include header-search-form-rounded

    .search
      padding: 0 0 0 30px
      background: url("../img/icon_search.png") no-repeat 8px 6px
      background-color: #ffffff

/**Contents Classes Page**/

section
  .seminars
    margin: 0 auto
    width: 940px

  .bread-crumbs
    display: inline-block
    margin-top: 18px
    @include bread-crumbs-border-radius
    img
      padding-bottom: 2px
    li
      float: left
      position: relative
      @include bread-gradient
    li+li
      background: none
    li
      a
        font-family: 'Montserrat', sans-serif
        font-size: 14px
        color: #999999
        text-decoration: none
        padding: 8px 7px
        span
          color: #007c2d
        &:first-child
          %a:hover
            border-radius: 4px 0 0 4px
            -webkit-border-radius: 4px 0 0 4px
            -moz-border-radius: 4px 0 0 4px

  .bread-crumbs li ul
    display: none

  .bread-crumbs li:hover ul
    display: block
    position: absolute
    top: 15px
    border-radius: 0 0 4px 4px
    -webkit-border-radius: 0 0 4px 4px
    -moz-border-radius: 0 0 4px 4px
    background-color: #e0dfe3
    z-index: 1000

  .bread-crumbs li:hover ul li
    float: none
    width: 150px
    border-right: none

  .bread-crumbs li:hover ul li a
    border-right: none
    padding: 6px 20px 8px

  .bread-crumbs li:hover ul li a:hover
    background-color: transparent
    color: #999999

  .bread-crumbs li:hover ul li:first-child a:hover
    border-radius: 0
    -webkit-border-radius: 0
    -moz-border-radius: 0

  .summer-seminars
    h1
      margin-top: 18px
      margin-bottom: 14px
      font-family: 'Montserrat', sans-serif
      font-size: 30px
      font-weight: bold
      color: #007c2d
    img
      float: left
      margin-right: 19px
    p
      font-family: 'Open Sans', sans-serif
      font-size: 13px
      color: #333333
      line-height: normal

  .summer-classes
    position: relative
    margin-top: 40px

    .camp, .personal, .myths, .going, .laugh, .story, .intro
      @include summer-classes-border-radius
      .grades
        font-family: 'Montserrat', sans-serif
        font-size: 13px
        line-height: normal
        color: #029141
        list-style: disc
        font-weight: bold
        padding: 0 0 0 36px

    .grades
      li+li
        list-style: none
      span
        font-weight: normal
        color: #666666

    .camp
      float: left
      height: 180px
      border-left: 1px solid #ececec
      border-right: 1px solid #ececec
      border-bottom: 1px solid #ececec

      .camp-topic
        position: absolute
        margin-top: 10px
        margin-left: 29px
        font-family: 'Montserrat', sans-serif
        font-size: 15px
        color: #ffffff

    .camp-button
      position: relative
      top: 30px
      left: 65px
      text-align: center
      color: #ffffff
      font-family: 'Montserrat', sans-serif
      font-size: 10px
      text-transform: uppercase
      text-decoration: none
      padding: 6px 13px
      @include camp-button-gradient
      @include buttons-border-radius

    .personal
      float: left
      height: 180px
      margin-left: 17px
      border-left: 1px solid #ececec
      border-right: 1px solid #ececec
      border-bottom: 1px solid #ececec

      .personal-topic
        text-align: center
        width: 161px
        position: absolute
        margin-top: 10px
        margin-left: 28px
        font-family: 'Montserrat', sans-serif
        font-size: 15px
        color: #ffffff

    .personal-button
      position: relative
      top: 30px
      left: 65px
      text-align: center
      color: #ffffff
      font-family: 'Montserrat', sans-serif
      font-size: 10px
      text-transform: uppercase
      text-decoration: none
      padding: 6px 13px
      @include personal-button-grarient
      @include buttons-border-radius

    .myths
      float: left
      height: 180px
      margin-left: 17px
      border-left: 1px solid #ececec
      border-right: 1px solid #ececec
      border-bottom: 1px solid #ececec
      .myths-topic
        text-align: center
        width: 180px
        position: absolute
        margin-top: 10px
        margin-left: 20px
        font-family: 'Montserrat', sans-serif
        font-size: 15px
        color: #ffffff
        span
          font-size: 13px
          color: #fdd749

    .myths-button
      position: relative
      top: 47px
      left: 65px
      text-align: center
      color: #ffffff
      font-family: 'Montserrat', sans-serif
      font-size: 10px
      text-transform: uppercase
      text-decoration: none
      padding: 6px 13px
      @include myths-button-gradient
      @include buttons-border-radius

    .going
      float: right
      height: 180px
      border-left: 1px solid #ececec
      border-right: 1px solid #ececec
      border-bottom: 1px solid #ececec

      .going-topic
        text-align: center
        width: 180px
        position: absolute
        margin-top: 10px
        margin-left: 22px
        font-family: 'Montserrat', sans-serif
        font-size: 15px
        color: #ffffff
        span
          font-size: 13px
          color: #fdd749

    .going-button
      position: relative
      top: 64px
      left: 65px
      text-align: center
      color: #ffffff
      font-family: 'Montserrat', sans-serif
      font-size: 10px
      text-transform: uppercase
      text-decoration: none
      padding: 6px 13px
      @include going-button-gradient
      @include buttons-border-radius

    .laugh
      margin-top: 40px
      margin-bottom: 40px
      float: left
      height: 180px
      border-left: 1px solid #ececec
      border-right: 1px solid #ececec
      border-bottom: 1px solid #ececec
      .laugh-topic
        position: absolute
        margin-top: 10px
        margin-left: 48px
        font-family: 'Montserrat', sans-serif
        font-size: 15px
        color: #ffffff

    .laugh-button
      position: relative
      top: 47px
      left: 65px
      text-align: center
      color: #ffffff
      font-family: 'Montserrat', sans-serif
      font-size: 10px
      text-transform: uppercase
      text-decoration: none
      padding: 6px 13px
      @include laugh-button-gradient
      @include buttons-border-radius

    .story
      margin-top: 40px
      margin-bottom: 40px
      float: left
      height: 180px
      margin-left: 17px
      border-left: 1px solid #ececec
      border-right: 1px solid #ececec
      border-bottom: 1px solid #ececec

      .story-topic
        text-align: center
        position: absolute
        margin-top: 10px
        margin-left: 38px
        font-family: 'Montserrat', sans-serif
        font-size: 15px
        color: #ffffff

    .story-button
      position: relative
      top: 47px
      left: 65px
      text-align: center
      color: #ffffff
      font-family: 'Montserrat', sans-serif
      font-size: 10px
      text-transform: uppercase
      text-decoration: none
      padding: 6px 13px
      @include story-button-gradient
      @include buttons-border-radius

    .intro
      margin-top: 40px
      margin-bottom: 40px
      float: left
      height: 180px
      margin-left: 17px
      border-left: 1px solid #ececec
      border-right: 1px solid #ececec
      border-bottom: 1px solid #ececec
      .intro-topic
        text-align: center
        position: absolute
        margin-top: 10px
        margin-left: 20px
        font-family: 'Montserrat', sans-serif
        font-size: 15px
        color: #ffffff

    .intro-button
      position: relative
      top: 64px
      left: 65px
      text-align: center
      color: #ffffff
      font-family: 'Montserrat', sans-serif
      font-size: 10px
      text-transform: uppercase
      text-decoration: none
      padding: 6px 13px
      @include intro-button-gradient
      @include buttons-border-radius

    .question
      margin-top: 40px
      margin-bottom: 40px
      float: right
      width: 220px
      height: 180px
      background: #e9f5fe
      border-radius: 8px
      font-family: 'Montserrat', sans-serif
      font-size: 14px
      color: #333333
      font-weight: 400
      text-align: center
      line-height: normal
      img
        float: left
        margin-top: 25px
        margin-left: 20px
        margin-right: 10px
      h6
        width: 195px
        text-align: left
        margin-top: 20px
      p

      span
        color: #3888c4
        font-weight: bold

/**TABLE**/

.enrollment-form
  margin-top: 50px
  margin-bottom: 50px
  border-bottom: 1px solid #ececec
  @include enrollment-form-border-radius
  h1
    margin-bottom: 20px
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    font-size: 18px
    color: #333333

  .table-button
    position: relative
    top: 5px
    left: 412px
    text-align: center
    color: #cccccc
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    font-size: 10px
    text-transform: uppercase
    text-decoration: none
    padding: 3px 10px
    @include table-border-radius
    @include table-button-gradient

  .register
    margin-bottom: 30px
    width: 940px
    page-break-inside: avoid
    border-spacing: 1px
    background: #ffffff
    border: none
    line-height: normal
    th.hovered
      @include th-hovered-gradient
      color: #ffffff
      span
        display: inline-block
        color: #fcd234
    td.hovered
      @include th-hovered-gradient

    td.select
      background-image: url("../img/tick.png")
      background-repeat: no-repeat
      background-position: center
      background-size: auto auto
      background-color: #159c47

    .even
      background: #fbfbfb
      &:hover
        background-color: #b9dbc6
    .odd
      background: #ffffff
      &:hover
        background-color: #cef4dc

    th
      width: 111px
      font-family: 'Montserrat', sans-serif
      font-weight: bold
      font-size: 13px
      color: #333333
      text-align: center
      @include th-gradient
      @include th-border-radius
      padding: 10px 0px
      vertical-align: top
      @include th-hover-gradient
      span
        display: inline-block
        color: #009933
        font-size: 11px
        font-weight: normal

    td
      width: 111px
      height: 20px
      border-right: 1px solid #ececec
      border-left: 1px solid #ececec
      border-top: 1px solid #ececec

      font-family: 'Open Sans', sans-serif
      font-size: 12px
      color: #333333
      padding: 0 15px
      span
        font-weight: bold
        color: #159c47

  .table-button
    position: relative
    top: 5px
    left: 412px
    text-align: center
    color: #cccccc
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    font-size: 10px
    text-transform: uppercase
    text-decoration: none
    padding: 3px 10px
    @include table-button-gradient
    @include buttons-border-radius

/**OPENED CLASS**/

section

  .wrap-page
    margin: 0 auto
    width: 940px

    .analysis
      height: 277px
      margin-top: 10px
      @include analysis-gradient
      @include analysis-border-radius
      img
        float: left
        margin-right: 20px
        vertical-align: text-bottom
      h1
        padding-top: 20px
        font-family: 'Montserrat', sans-serif
        font-weight: bold
        font-size: 30px
        color: #007c2d
      .analysis-list
        float: left
        margin-top: 20px
        margin-left: 20px
        font-family: 'Montserrat', sans-serif
        font-size: 14px
        color: #333333
        li
          list-style-image: url("../img/point_description.png")
          line-height: 2em
          p
            text-indent: -99999px
          a
            line-height: normal !important

      .analysis-list-2
        float: left
        margin-top: 20px
        margin-left: 40px
        font-family: 'Montserrat', sans-serif
        font-size: 14px
        color: #333333
        li
          line-height: 2em
        a
          line-height: normal !important

    .courses
      margin-top: 20px
      .course-description
        float: left
        width: 300px
        height: 300px
        h1
          margin-bottom: 10px
          font-family: 'Montserrat', sans-serif
          font-size: 18px
          color: #333333
        p
          width: 294px
          font-family: 'Open Sans', sans-serif
          font-size: 13px
          color: #333333
          line-height: 1.6
      .course-features
        float: left
        margin-left: 20px
        width: 300px
        height: 300px
        h1
          margin-bottom: 10px
          font-family: 'Montserrat', sans-serif
          font-size: 18px
          color: #333333
        .days
          width: 269px
          font-family: 'Open Sans', sans-serif
          font-size: 10px
          color: #019140
          span
            color: #333333
            font-size: 13px
          li
            list-style: circle
            line-height: 2
      .enroll-course
        position: relative
        float: right
        width: 297px
        height: 236px

        h1
          margin-bottom: 10px
          font-family: 'Montserrat', sans-serif
          font-size: 18px
          color: #333333
        p
          padding-top: 77px
          margin-left: 20px
          font-family: 'Montserrat', sans-serif
          font-size: 18px
          color: #333333
          span
            color: #019140
            font-weight: bold

        .begins-text
          position: absolute
          text-align: center
          line-height: normal
          margin-top: 10px
          margin-left: 26px

          h1
            font-family: 'Montserrat', sans-serif
            color: #ffffff
            font-size: 18px
            span
              font-weight: bold
          p
            font-family: 'Montserrat', sans-serif
            color: #ffffff
            font-size: 16px
        .enroll-border
          height: 132px
          margin-top: -67px
          border-left: 1px solid #ececec
          border-right: 1px solid #ececec
          border-bottom: 1px solid #ececec
          border-radius: 20px
          -webkit-border-radius: 20px
          -moz-border-radius: 20px

      .enroll-button
        position: relative
        top: -9px
        left: 81px
        text-align: center
        color: #ffffff
        font-family: 'Open Sans', sans-serif
        font-weight: bold
        font-size: 14px
        text-transform: uppercase
        text-decoration: none
        padding: 5px 15px
        @include buttons-border-radius
        @include enroll-button-gradient

      .other-summer-classes
        margin-top: 20px
        height: 120px
        h1
          font-family: 'Montserrat', sans-serif
          font-size: 18px
          color: #333333
          margin-top: 20px
          margin-bottom: 30px
        .borders
          height: 46px
          border: 1px solid #ececec
          border-radius: 10px
          -webkit-border-radius: 10px
          -moz-border-radius: 10px
          .intro-button, .crafting-button, .myth-button, .going-button, .make-button, .power-button
            position: relative
            font-family: 'Montserrat', sans-serif
            font-size: 13px
            color: #27968a
            @include summer-classes-buttons-gradients
            @include buttons-border-radius
            text-decoration: none
          .intro-button
            top: -10px
            margin-left: 60px
            padding: 8px 50px

          .crafting-button
            top: -10px
            margin-left: 15px
            padding: 8px 12px

          .myth-button
            top: -10px
            margin-left: 15px
            padding: 8px 50px

          .going-button
            top: 20px
            margin-left: 60px
            padding: 8px 71px

          .make-button
            top: 20px
            margin-left: 15px
            padding: 8px 85px

          .power-button
            top: 20px
            margin-left: 15px
            padding: 8px 61px

      .not-sure
        position: relative
        margin-top: 20px
        margin-bottom: 20px
        height: 132px
        font-family: 'Montserrat', sans-serif
        font-size: 18px
        color: 333333
        font-weight: normal
        background: rgba(19, 150, 71, 0.1)
        @include not-sure-border-radius

      .not-sure-inner
        position: absolute
        top: 36%
        left: 19%
        img
          float: left
          margin-right: 20px
        p
          width: 600px
        span
          color: #02933f
          font-weight: bold

/**JOBS PAGE**/

section
  .jobs-content
    margin: 0 auto
    width: 940px
    /*height: 800px*/
    /*background: #36c3b4*/
    h1
      font-family: 'Montserrat', sans-serif
      font-size: 30px
      color: #007c2d
      font-weight: bold
      margin-top: 20px
      margin-bottom: 20px
    .opportunities
      float: left
      width: 620px
      height: 700px
      /*background-color: #5bc0de*/
      background-image: url("../img/title_text_back.png")
      background-repeat: no-repeat
      background-position: top center
      /*text-align: center*/
      h1
        font-family: 'Open Sans', sans-serif
        font-size: 18px
        color: #666666
        font-weight: normal
        text-align: center
        width: 520px
        margin-top: 60px
        margin-left: 45px
        span
          color: #039241
          font-weight: bold
    .opportunities-borders
      margin-top: 60px
      border-left: 1px solid #ececec
      border-bottom: 1px solid #ececec
      border-right: 1px solid #ececec
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px
      h1
        font-family: 'Montserrat', sans-serif
        font-weight: 18px
        color: #333333
        font-weight: bold
        text-align: left
        padding-top: 50px
        margin-left: 40px
        padding-bottom: 5px
    .opportunities-list
      margin-left: 55px
      margin-bottom: 40px
      width: 495px
      font-family: 'Montserrat', sans-serif
      font-weight: normal
      font-size: 15px
      line-height: 1.8em
      li
        list-style: outside circle
        color: #1c9d4f
        span
          color: #666666

    .form-bellow
      float: right
      width: 300px
      height: 700px
      /*background: #953b39*/
      img
        margin-top: -50px
      h1
        font-family: 'Montserrat', sans-serif
        font-size: 18px
        font-weight: bold
        color: #333333
        text-align: center

/**FOOTER**/

footer
  @include footer-bg(200px)

  .footer
    @include footer

  .pages
    float: left
    width: 130px
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    color: #666666
    font-size: 14px

  .pages-list
    margin-top: 10px
    font-family: 'Open Sans', sans-serif
    font-size: 12px
    line-height: 2em
    font-weight: normal
    color: #666666

  .left-top-border, .middle-top-border, .right-top-border
    @include footer-border-top

  .classes
    float: left
    width: 550px
    margin-left: 20px
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    font-size: 14px
    color: #666666

  .classes-list
    float: left
    margin-top: 10px
    font-family: 'Open Sans', sans-serif
    font-size: 12px
    line-height: 2em
    font-weight: normal
    color: #666666

  .classes-spisok-isee
    float: left
    margin-top: 10px
    margin-left: 117px
    font-family: 'Open Sans', sans-serif
    font-size: 12px
    line-height: 2em
    font-weight: normal
    color: #666666

  .contact-us
    float: right
    width: 220px
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    color: #666666
    font-size: 14px
    margin-bottom: 30px

  .contact-list
    float: left
    margin-top: 10px
    font-family: 'Open Sans', sans-serif
    font-size: 12px
    line-height: 2em
    font-weight: normal
    color: #666666
    a
      color: #4d9ad3
      text-decoration: none
